    hr {
      width: 80%;
      height: 1px;
      background-color: black;
      margin-right: auto;
      margin-left: auto;
    }

    div.guitarContainer {
      width: auto;
      background-image: url("https://enesdurmus.github.io/GuitarPlayer/Images/back.png");
    }

    div.guitarString {
      width: auto;
      background-image: url("https://enesdurmus.github.io/GuitarPlayer/Images/string.png");
      height: 10px;
      margin: 20px;
    }
    span.note {
      display: inline-block;
      width: 20px;
      height: 14px;
    }
